main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
    margin: 8% 15% 35% 15%;
    width: 649px;
    height: 652px;
    background-color: #210e38ed;
    border: 5px solid #387b0d;
    border-radius: 5px;
}

.col {
    font-family: 'Mansalva', cursive;
    font-size: 5rem;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: #5352ed;
    border: 2px solid #9c88ff;
    border-radius: 2px;
}
.row, .col {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 100px;
    background: -webkit-linear-gradient(#200101, #8e5704);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }