@font-face{
    src: url(../fonts/Righteous-Regular.ttf);
    font-family: right;
}
body{
    font-family: right;
    margin: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #1D2B64;
    background: -webkit-linear-gradient(to bottom, #F8CDDA, #1D2B64);
    background: linear-gradient(to bottom, #F8CDDA, #1D2B64);
    height: 100%;
    position: relative;
    z-index: 0;
    padding-top: 25px;
}
main h1{
    font-size: 3.5rem;
    margin-left: 50%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px;
    width: 80%;
    margin-top: -120px;
    /* height: 60%; */
}
.main-palette{
    width: 45%;
    box-shadow: 0 0 50px rgba(0,0,0,0.25);
    /* border: 2px dashed #445c3c; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: 100;
    border-radius: 9px;
    padding: 20px;
    position: relative;
}
.start-btn{
    position: absolute;
    top: 6%;
    left: 5%;
    width: 80px;
    border: none;
    background-color: #b030b0;
    color: white;
    height: 40px;
}
.start-btn:hover{
    background-color: #51dacf;
}
.palette{
    background-color: #b6e6bd;
    /* border-radius: 9px; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.black-or-white{
    width: 20%;
    height: 665px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #b6e6bd;
}
.top-row{
    border-bottom: 1.5px solid #95a97ebd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    height: 70px;
}
.top-row-circles{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #95a97ebd;
}
.game-rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px
}
.main-rows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    margin-top: 10px
}
.main-row-circles{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #95a97ebd;
}
.black-white-box{
    width: 80%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.black-white-btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #95a97ebd;
}
.color-palette{
    width: 35%;
    height: 80px;
    background-color: #fdeaab;
    padding: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.earase-btn{
    border-radius: 5px 0 5px 0;
    width: 30px;
    height: 30px;
    background: url(../img/eraser.svg);
}
.earase-btn::before{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}
.color-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b2e4d5;
}
.color-btn:nth-child(2){
    background-color: red;
}
.color-btn:nth-child(3){
    background-color: pink;
}
.color-btn:nth-child(4){
    background-color: blue;
}
.color-btn:nth-child(5){
    background-color: purple;
}
.color-btn:nth-child(6){
    background-color: yellow;
}
.color-btn:nth-child(7){
    background-color: green;
}
.color-btn:nth-child(8){
    background-color: brown;
}
.color-btn:nth-child(9){
    background-color: orange;
}

.color-palette, #submit {
    margin-bottom: 18px;
    margin-left: -65px;
}
#submit {
    margin-left: -55px;
}