@import "./font-shabnam.css";

:root {
  font-size: 16px;
}

body {
  font-family: "Shabnam", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  margin: 0;
  padding: 0;
  font-size: 100%;
  direction: rtl;
}

/* svg styles */
.st0 {
  fill: none;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  opacity: 0.4;
  fill: #ffffff;
}
.StarIcons,
.StarsInactive0 {
  fill: #f95862;
}

.StarsInactive1 {
  fill: #4b4b5d;
}

.vid-center {
  fill: rgba(255, 255, 255, 0.877);
}
.vid-round {
  fill: rgba(255, 255, 255, 0.513);
}
/* ----- */

.expressTrain {
  height: 95vh;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 29, 39, 0.95)),
    url("/img/Rectangle 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.main-container {
  height: 100%;
  background-color: #1d1d27;
  color: #fff;
}

.head-icons {
  width: 94%;
  height: 92vh;
  position: absolute;
  top: 1%;
  left: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.first-icons,
.second-icons {
  height: 67.5%;
  display: flex;
  justify-content: space-between;
}

.StarIcons {
  margin-left: 200px;
  width: 24px !important;
}

.description,
.time {
  color: white;
  font-size: 4vw;
  font-weight: 100;
  margin-left: 1%;
}

.Battery,
.WifiIcon,
.Signal,
.BurgerMenu,
.SearchIcon {
  width: 6%;
  margin: 1.25%;
}

.VideoPlayerIcon {
  width: 20%;
  margin: 0 40%;
  margin-top: 16vh;
  top: 20%;
  position: absolute;
}

.VideoPlayerIcon {
  fill: #1d1d27;
}

.h-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 4px;
}

.h-comments {
  color: #c6b6b7;
  font-size: 3.7vw;
  font-weight: 400;
}

.stars,
.StarsInactive {
  width: 25vw;
  margin-right: 10%;
}

.h-btn {
  background-color: transparent;
  color: #d08585;
  border: 1.5px solid #8c4646;
  border-radius: 5px;
  margin: 10px 0 10px 22px;
  font-size: min(1.3vw, 10px);
  padding: 4px 12px;
}

.movies {
  padding-top: 15px;
  margin: 0 3%;
}

.theatre-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.see-all {
  font-size: 4.5vw;
  font-weight: 100;
  color: #f95862;
  margin: 0 0 15px 25px;
}

.desc span {
  font-size: 4.5vw;
  color: #be6161;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  display: none;
}

.more {
  font-size: 18px;
  color: #c24343;
  text-align: center;
  margin: 5vh;
}

.end {
  width: 50%;
  height: 5px;
  background-color: #7e5d46;
  display: block;
  margin-right: 25%;
  margin-top: 2%;
  border-radius: 20px;
}

.movie-title {
  font-size: 4vw;
  margin-bottom: 1.2vh;
}

.movie-headers {
  margin-top: 7vh;
}

.margin {
  height: 2vh;
}

@media (min-width: 1200px){
  .VideoPlayerIcon {
    margin-top: -70px;
  }
}