@font-face {
    font-family: shabnam;
    src: url('/assets/fonts/shabnamFD/Shabnam-FD.eot') format('embedded-opentype'), url('/assets/fonts/shabnamFD/Shabnam-FD.ttf') format('truetype'), url('/assets/fonts/shabnamFD/Shabnam-FD.woff') format('woff'), url('/assets/fonts/shabnamFD/Shabnam-FD.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: shabnam;
    src: url('/assets/fonts/shabnamFD/Shabnam-Bold-FD.eot') format('embedded-opentype'), url('/assets/fonts/shabnamFD/Shabnam-Bold-FD.ttf') format('truetype'), url('/assets/fonts/shabnamFD/Shabnam-Bold-FD.woff') format('woff'), url('/assets/fonts/shabnamFD/Shabnam-Bold-FD.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: shabnam;
    src: url('/assets/fonts/shabnamFD/Shabnam-Light-FD.eot') format('embedded-opentype'), url('/assets/fonts/shabnamFD/Shabnam-Light-FD.ttf') format('truetype'), url('/assets/fonts/shabnamFD/Shabnam-Light-FD.woff') format('woff'), url('/assets/fonts/shabnamFD/Shabnam-Light-FD.woff2') format('woff2');
    font-weight: 300;
}