/* This is a main style sheet for mapsahr website project and this use in index.js file for styling in all components */

/* This is a main color variables for desining pages . */

/* for use colors you must write var(--variable name) e.g. background-color: var(--primary) */

@import url("/assets/font.css");
:root {
    --primary: #494ca2;
    --light-primary: #8186d5;
    --warning: #fcbc04;
    --secondary: #c6cbef;
    --light-gray: #e3e7f1;
    --primary-font: #515151;
    --secondary-font: #6c757d;
    --danger: #dc3545;
    --success: #28a745;
    --info: #17a2b8;
    --dark: #343a40;
}

* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: shabnam, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.test {
    background: var(--primary);
    width: 100px;
    height: 100px;
}
