@import "./fontShabnam.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shabnam", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 100%;
  direction: rtl;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #d299c27a 0%, #ffe5a085 40%);
}

h1,
h3 {
  margin: 20px;
}
h3 {
  margin-bottom: 4px;
}

li {
  list-style: none;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  border-bottom-style: ridge;
  padding: 10px 0 4px 5px;
}

.list-item {
  max-width: 40vw;
  overflow: auto;
}

button {
  margin: 2px;
}

#inp,
input:focus {
  border: none;
  outline: none;
  border-bottom-style: groove;
  border-width: 1px;
  margin-bottom: 5px;
  width: 48vw;
  text-align: center;
  background-color: transparent;
}

.form {
  display: flex;
}

.Add-icon,
.cancel-icon {
  width: 30px;
  height: 30px;
  color: #5b5be0d6;
  margin-right: 3px;
}
.done,
.restore,
.delete-icon {
  height: 19px;
  color: #0000fda3;
  margin-right: 3px;
}

svg:active {
  transform: scale(1.3);
  color: rgba(0, 0, 0, 0.4);
}

.delete-icon,
.edit-icon {
  color: #ff2727d6;
  height: 22px;
  margin-right: 8px;
}

.edit-icon {
  color: #3453af73;
}

.cancel-icon {
  color: rgba(243, 144, 79, 0.78);
}

.done {
  color: goldenrod;
  height: 22px;
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
}

.DoneList li {
  text-decoration: line-through;
  font-style: italic;
}

.lastbtns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.lastbtns svg {
  margin: 0 6px;
}

.export-icon {
  height: 29px;
  color: navy;
}
.import-icon {
  height: 28px;
  color: #ba55d3;
}

.doAll-icon {
  height: 33px;
  color: #ffc107;
}

.resetAll-icon {
  height: 30px;
  color: #757575a3;
}

.delAll-icon {
  height: 30px;
  color: #b34a29cf;
}

.task-orders {
  display: flex;
  margin: 0;
}

.order-btns {
  margin: 0 0 0 2px;
}

.move-icons {
  color: #5967b1d6;
  height: 18px;
  margin-left: 5px;
}

li .list-btns {
  display: none;
}

li:hover .list-btns {
  display: block;
}

/* tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 75px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 112%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.list-btns .ttp1 {
  font-style: normal;
  left: 145%;
}

.list-btns .ttp2 {
  font-style: normal;
  left: 100%;
}

.list-btns .ttp3 {
  font-style: normal;
  left: 115%;
}

.order-btns .tooltip .tooltiptext {
  left: 204%;
  font-style: normal;
}

.delcompleted .tooltiptext {
  width: 90px;
  left: 88%;
}
