@import "./font-shabnam.css";

body {
  font-family: "Shabnam", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

.main {
  margin: 0 25px;
}

h1 {
  font-weight: 300;
}

.ant-upload-picture-card-wrapper {
  display: flex !important;
  justify-content: flex-end;
  margin-top: 45px;
  margin-left: -25px;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 500px;
  margin-top: 15px;
}

.date {
  display: flex !important;
  flex-direction: column;
  margin-top: 60px;
  text-align: right;
}

.h-info {
  padding-right: 100px !important;
}

.personal-info {
  direction: rtl;
  border: 1.5px solid rgb(41, 12, 12);
  border-radius: 5px;
  padding: 5px;
  margin-top: 7px;
}

.ant-form-horizontal {
  display: flex;
  justify-content: space-around;
}

.ant-form-item {
  display: flex !important;
  justify-content: space-between;
  flex: auto;
}

.ant-form-item-label {
  text-align: left !important;
}

.ant-form-horizontal {
  display: flex;
  flex-flow: wrap;
  margin-left: 20px !important;
}

.ant-select-selection--single {
  margin-right: 100px;
}

.form-title {
  margin: 5px;
  direction: rtl;
  font-size: initial;
  color: #000;
}

.ant-table-pagination {
  display: none;
}

td,
th {
  text-align: center !important;
}

.smalli {
  display: flex !important;
  font-size: 14px !important;
}

.smalli span {
  margin-top: 6px !important;
}

.smallt {
  width: 55% !important;
  margin-right: 14px !important;
}

.copyright {
  text-align: center;
  margin: 10px;
}

/* jalali date-picker styles for ant-design */
.datepicker-input {
  width: 113px;
  height: 32px;
  border: 1px solid #3e3e3e40;
  border-radius: 4px;
  text-align: center;
}

.calendarContainer.jalaali {
  transform: scale(0.8) !important;
}

.selectToday {
  margin-top: 0 !important;
}
/* date styles end */


